* {
	font-family: "Hiragino Sans GB W3", "微软雅黑", "Microsoft YaHei";
	font-size: 12px;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	background-image: url(../images/bg.png);
	background-repeat: repeat;
}
ul, ol, li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #000;
}
#logo {
	margin: 0 auto;
	height: 110px;
	width: 990px;
	position: relative;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center;
}
#qrCode {
	position: absolute;
	left: 828px;
	top: 32px;
	width: 130px;
	height: 70px;
	z-index: 1;
	background-image: url(../images/scan.png);
	background-repeat: no-repeat;
	background-position: right;
}
#qrCode ul {
	padding-top: 12px;
	font-family: "宋体";
	font-weight: bold;
	color: #FFF;
}
#navi {
	margin: 0px auto;
	position: relative;
	width: 990px;
	line-height: 30px;
}
#naviT {
	width: 100%;
	height: 30px;
	background-color: #000;
}
#naviT li {
	float: left;
	text-align: center;
	display: block;
	width: 130px;
}
#naviT li a {
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
}
#naviD {
	background-color: #fcdc27;
	margin-top: 2px;
	height: 30px;
	width: 100%;
}
#naviD li {
	float: left;
	display: block;
	width: 125px;
	text-align: center;
}
#naviD li a { font-size: 14px; }
#navi li img { vertical-align: sub; }
#banner {
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 698px;
	width: 100%;
}
#coupon {
	height: 108px;
	width: 990px;
	margin: 0 auto;
	position: relative;
}
#floatAd {
	position: absolute;
	left: -213px;
	top: 1px;
	width: 186px;
	height: 256px;
	z-index: 1;
}
#nowSale {
	margin: 20px auto 10px auto;
	height: 1180px;
	width: 990px;
	position: relative;
}
#nowSaleTitleBox {
	height: 70px;
	width: 100%;
	background-image: url(../images/titleBg_02.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}
#nowSaleTitle {
	position: absolute;
	left: 34px;
	top: 6px;
	width: 295px;
	height: 41px;
	z-index: 1;
	background-image: url(../images/titleBg_01.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	line-height: 40px;
}
#dataTipsBox {
	position: absolute;
	left: 406px;
	top: 9px;
	width: 520px;
	height: 40px;
	z-index: 2;
}
#dataTipsBox ul li {
	float: left;
	background: url(../images/dataTipsBg_01.png) no-repeat;
	width: 125px;
	height: 39px;
	margin: 0 5px 0 0;
	text-align: center;
}
#dataTipsBox ul li a {
	sline-height: 35px;
	font-size: 17px;
	color: #FFF;
	line-height: 31px;
	font-weight: bold;
}
#commodityBox {
	height: 1100px;
	width: 990px;
	background-color: #A32D1D;
	padding: 0px 0px;
}
.commodity {
	width: 465px;
	height: 530px;
	float: left;
	margin: 0px 15px;
}
.commodityPic {
	height: 415px;
	width: 465px;
	background-color: #FFF;
	position: relative;
}
.commodityPic .comPicTips {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 35px;
	height: 156px;
	z-index: 1;
	background-image: url(../images/saleTipsBg_01.png);
	background-repeat: no-repeat;
}
.commodityPic .comPicTips p {
	margin-top: 5px;
	font-size: 18px;
	color: #FFF;
	word-wrap: break-word;
	width: 35px;
	text-align: center;
}
.commodityPic .comPicTips p .Num01 {
	font-size: 24px;
	font-weight: bold;
}
.commodity .timer {
	line-height: 50px;
	background-color: #666666;
	height: 50px;
	font-size: 18px;
	color: #FFF;
	text-align: center;
	font-weight: bold;
}
.commodity .timer span {
	font-size: 20px;
	font-weight: bold;
}
.commodity .price {
	height: 70px;
	width: 465px;
	background-color: #FD0D00;
	position: relative;
	z-index: 1;
}
.commodity .price .saleNow {
	position: absolute;
	left: 16px;
	top: 16px;
	width: 97px;
	height: 42px;
	z-index: 6;
	font-size: 32px;
	font-weight: bolder;
	color: #FFF;
}
.commodity .price .saleLast {
	position: absolute;
	left: 127px;
	top: 10px;
	width: 73px;
	height: 43px;
	z-index: 6;
	font-size: 14px;
	text-decoration: line-through;
	color: #FFF;
	line-height: 25px;
}
.commodity .price .payButton {
	position: absolute;
	left: 318px;
	top: 18px;
	width: 120px;
	height: 40px;
	z-index: 6;
	font-size: 24px;
	line-height: 40px;
	text-align: center;
	height: 40px;
	width: 120px;
	display: block;
	background-color: #FFFD02;
	-webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.88);
	-moz-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.88);
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.88);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.comTitleBox {
	margin: 19px auto;
	height: 55px;
	width: 990px;
	position: relative;
	background-color: #A20500;
}
#grid {
	margin: 0px auto;
	height: 830px;
	width: 990px;
}

.comTitleText {
	position: absolute;
	left: 352px;
	top: -6px;
	width: 323px;
	height: 50px;
	z-index: 1;
	background-image: url(../images/comTitleBg.png);
	background-repeat: no-repeat;
	font-size: 24px;
	line-height: 50px;
	text-align: center;
	font-weight: bold;
}
