* {
	font-family: "Hiragino Sans GB W3","微软雅黑","Microsoft YaHei";
	font-size: 12px;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
body{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	background-image: url(../images/bg.png);
	background-repeat: repeat;
}
ul, ol, li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #000;
}
	
#logo {
	margin: 0 auto;
	height: 110px;
	width: 990px;
	position: relative;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center;
}

#qrCode {
	position:absolute;
	left:828px;
	top:32px;
	width:130px;
	height:70px;
	z-index:1;
	background-image: url(../images/scan.png);
	background-repeat: no-repeat;
	background-position: right;
}
#qrCode ul {
	padding-top: 12px;
	font-family: "宋体";
	font-weight: bold;
	color: #FFF;
}
#navi {
	margin: 0px auto;
	position: relative;
	width: 990px;
	line-height: 30px;
}

#naviT {
	width: 100%;
	height: 30px;
	background-color: #000;
}
#naviT  li {
	float: left;
	text-align: center;
	display: block;
	width: 130px;
}
#naviT li a {
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
}

#naviD {
	background-color: #fcdc27;
	margin-top: 2px;
	height: 30px;
	width: 100%;
}
#naviD li {
	float: left;
	display: block;
	width: 125px;
	text-align: center;
}

#naviD li a {
	font-size: 14px;
}

#navi li img {
	vertical-align: sub;
}
#banner {
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 698px;
	width: 100%;
}
#coupon {
	height: 108px;
	width: 990px;
	margin: 0 auto;
	position: relative;
}


#floatAd {
	position: absolute;
	left: -213px;
	top: 1px;
	width: 186px;
	height: 256px;
	z-index: 1;
}
#nowSale {
	margin: 20px auto 10px auto;
	height: 1300px;
	width: 990px;
	position: relative;
}
#nowSaleTitleBox {
	height: 70px;
	width: 100%;
	background-image: url(../images/titleBg_02.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}

#nowSaleTitle {
	position: absolute;
	left: 34px;
	top: 6px;
	width: 295px;
	height: 41px;
	z-index: 1;
	background-image: url(../images/titleBg_01.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	line-height: 40px;
}

#dataTipsBox {
	position: absolute;
	left: 406px;
	top: 9px;
	width: 520px;
	height: 40px;
	z-index: 2;
}
#dataTipsBox ul li {
	float: left;
	background: url(../images/dataTipsBg_01.png) no-repeat;
	width: 125px;
	height: 39px;
	margin: 0 5px 0 0;
	text-align: center;
}
#dataTipsBox ul li a{
	sline-height: 35px;
	font-size: 17px;
	color: #FFF;
	line-height: 31px;
	font-weight: bold;
}
#commodityBox {
	height: 1100px;
	width: 948px;
	background-color: #A32D1D;
	padding: 0px 20px;
}
.commodity {
	width: 465px;
	height: 540px;
}
